<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>GamerOo</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!--Google Font for GamerOo-->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Keania+One&display=swap"
        rel="stylesheet">

        <!--Font Awesome link-->

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <style>
            /* Header Search */
            .header-search {
                padding: 15px 0px;
            }

            .header-search form {
                position: relative;
            }

            .header-search form .input-select {
                margin-right: -4px;
                border-radius: 40px 0px 0px 40px;
            }

            .header-search form .input {
                width: calc(100% - 260px);
                margin-right: -4px;
            }

            .header-search form .search-btn {
                height: 40px;
                width: 100px;
                background: #D10024;
                color: #FFF;
                font-weight: 700;
                border: none;
                border-radius: 0px 40px 40px 0px;
            }

            .header-search form .input {
                width: calc(100% - 260px);
                margin-right: -4px;
                height: 40px;
                padding: 0px 15px;
                border: 1px solid #E4E7ED;
                background-color: #FFF;
            }

            .header-search form .input-select {
                width: 160px;
                padding: 0px 15px;
                background: #FFF;
                border: 1px solid #E4E7ED;
                height: 40px;
            }

            .header-search form .search-btn:hover {
                background: #af001e;
                cursor: pointer;
            }

            .header-search form .input:focus {
                border-color: #D10024;
            }

            .header-search form .input-select:focus {
                border-color: #D10024;
            }
        </style>
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">

            <div class="container">
                <ul class="header-links pull-left">        
                    <li><a href="#"><i class="fas fa-envelope"></i>gameroocontact@gmail.com</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> Kerala</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="/wallet"><i class="fas fa-indian-rupee-sign"></i> Wallet</a></li>

                    <%if(locals.user){ %>
                        <div class="dropdown">
                            <a class="nameColor" href="#"><i class="fas fa-user" style="color: red;"></i>
                                <%=locals.user.name%>
                            </a>
                            <div class="dropdown-content">
                                <a href="/userProfile">Profile</a>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                        <% }else{ %>
                            <li><a href="/login"><i class="fa fa-user-o"></i> Login</a></li>
                            <li><a href="/signup"><i class="fa fa-user-o"></i>Signup</a></li>
                            <% } %>

                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="/img/GamerOo_project_fdfd-removebg-preview.png" class="logo-img" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form id="searchForm" onsubmit="handleSearch(event)">
                                <select class="input-select" id="categorySelect">
                                    <option value="">All Categories</option>
                                    <% if (typeof categories !== 'undefined' && categories.length > 0) { %>
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>"><%= category.name %></option>
                                        <% }); %>
                                    <% } %>
                                </select>
                                <input class="input" id="searchInput" placeholder="Search here">
                                <button type="submit" class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="/wishlist">
                                    <i class="fas fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div>
                                <a href="/cart" class="dropdown-toggle" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <!-- <div class="qty cart-count">0</div> -->
                                </a>
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->

    <script>
        // Update cart count on page load
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/cart/count')
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        const cartCountElement = document.querySelector('.cart-count');
                        if (cartCountElement) {
                            cartCountElement.textContent = data.count;
                        }
                    }
                })
                .catch(error => console.error('Error fetching cart count:', error));
        });
    </script>

    <script>
        function handleSearch(event) {
            event.preventDefault();
            const searchQuery = document.getElementById('searchInput').value;
            const categoryId = document.getElementById('categorySelect').value;
            
            // Build the query string
            let queryParams = new URLSearchParams();
            
            if (searchQuery.trim()) {
                queryParams.set('search', searchQuery.trim());
            }
            
            if (categoryId) {
                queryParams.set('category', categoryId);
            }
            
            // Redirect to shop page with search parameters
            window.location.href = '/shop?' + queryParams.toString();
        }
    </script>
</body>
</html>